.tile-container, .center-tile-container {
    border: 2px solid #fff;
    border-radius: 48px;
    box-shadow: 0px 24px 48px #b7cfb7;
    background-color: #fff;
    text-align: start;
    padding: 36px;
}

.center-tile-container {
    grid-column: 6 / 19;
    grid-row: 3 / 10;
}